button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.pill {
  align-self: center;
  border-radius: 2rem;
  display: inline-block;
  font-size: 1.4rem;
  margin: 2rem 0;
  padding: 0.8rem 6rem;
}

.pill .icon {
  left: 3rem;
  position: absolute;
}

.pill.-gray {
  background: $gallery;
}
