// Colors
$goblin: #3b853e;
$goblin-light: #33a05c;

$dove-gray: #666666;
$gallery: #eeeeee;
$silver: #c9c9c9;

$brand-primary: $goblin;
$brand-light: $goblin-light;

$header-bg: $brand-primary;
$body-bg: $gallery;
$footer-bg: $dove-gray;

// Media Queries
$tablet: 768px;
$large: 1094px;
$xl: 1260px;
