// Colors
$goblin: #3b853e;
$goblin-light: #33a05c;

$dove-gray: #666666;
$alto: #d3d3d3;
$silver: #c9c9c9;
$gallery: #eeeeee;

$brand-primary: $goblin;
$brand-light: $goblin-light;

$header-bg: $brand-primary;
$body-bg: $gallery;
$footer-bg: $dove-gray;

// Media Queries
$bp-tablet: 768px;
$bp-large: 1094px;
$bp-xl: 1260px;
